#leftbar {
    display: none !important;
}
#topbar {
    display: none !important;
}
.body {
    background-color: #12191F !important;
}
.body-wrapper {
    margin: 0px !important;
    width: calc(100% + 165px) !important;
    padding: 50px 0px 0px 0px !important;
}
.content {
    width: calc(100% - 165px) !important;
    
}